* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: left;
}
.cabecalho {
  position: fixed;
  display: flex;
}
.cabecalho::selection, .mcolor-ul-li-a::selection ,.mdcolor-ul-li-a::selection{
  background: none;
}
.menu-below-700::selection{
  background: none;
}
.menu-below-700 {
  padding: 15px;
}
.mdcolor-ul, .mdcolor-ul-close{ /*trocar por class*/
  max-width: 90%;
  display: inline;
  list-style: none;
}
.mdcolor-ul li a, .mdcolor-ul-close li a{ /*trocar por class*/
  font-size: 20px;
  transition: transform 200ms;
  transition: background .2s;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.mdcolor-ul li a:hover { /*trocar por class*/
  transform: scale(1.02);
}
.button-light-dark, .button-light-dark-close{
  margin: 10px;
  margin-right: 15px;
}
.bcolor, .bdcolor {
  box-sizing:border-box;
  height: 100vh;
  font-size: calc(10px + 1.5vmin);
  overflow-y: scroll;
  scrollbar-width: none;
}
.bcolor::-webkit-scrollbar, .bdcolor::-webkit-scrollbar {
  display: none;
}
.stats {
  padding-top: 60px;
}
.imgs {
  text-align: center;
  padding: 40px auto;
}
.imgs img, #stats { /*trocar por class*/
  display: inline;
  padding: auto;
}
.menu-below-700:hover, .button-light-dark:hover, .button-light-dark-close:hover{
  cursor: pointer;  
}
.imgs-reps{
  display: flex;
  width: auto;
  flex-direction: column;
  margin-left: 15px;

}.reps, .dreps{
  padding: 5px;
  width: 100%;
  border-radius: 0 0 5px 10px;
  margin-top: 5px;
}.ref-reps{
  text-align: justify;
  float: right;
  width: 55%;
  padding: 10px;
  height: 100%;
}
