* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}.stats2{
  float: right;
  max-width: fit-content;
  max-height: fit-content;
}
.App {
  text-align: center;
}
.cabecalho {
  position: fixed;
  display: flex;
}
.cabecalho::selection, .mcolor-ul-li-a::selection ,.mdcolor-ul-li-a::selection{
  background: none;
}
.menu-below-700::selection{
  background: none;
}
.menu-below-700 {
  padding: 15px;
}
.mdcolor-ul, .mdcolor-ul-close{ /*trocar por class*/
  max-width: 90%;
  display: inline;
  list-style: none;
}
.mdcolor-ul li a, .mdcolor-ul-close li a{ /*trocar por class*/
  font-size: 20px;
  transition: transform 200ms;
  transition: background .1s;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.mdcolor-ul li a:hover, .mdcolor-ul-close li a:hover { /*trocar por class*/
  transform: scale(1.05);
}
.button-light-dark, .button-light-dark-close{
  margin: 10px;
  margin-right: 15px;
}
.bcolor, .bdcolor {
  box-sizing:border-box;
  height: 100vh;
  font-size: calc(10px + 1.5vmin);
  overflow-y: scroll;
  scrollbar-width: none;
}
.bcolor::-webkit-scrollbar, .bdcolor::-webkit-scrollbar {
  display: none;
}
.stats {
  padding: 10px;
}
.imgs {
  text-align: center;
  padding: 10px auto;
}
.imgs img{ /*trocar por class*/
  display: inline;
  padding: auto;
  text-align: center;
}
.menu-below-700:hover, .button-light-dark:hover, .button-light-dark-close:hover{
  cursor: pointer;  
}
.imgs-reps{
  width: auto;
  display: inline-block;
}.reps, .dreps{
  padding: 5px;
  border-radius: 0 0 5px 10px;
  margin-top: 5px;
}.ref-reps{ /*para testo no repositorio*/
  text-align: justify;
  float: right;
  width: 55%;
  padding: 10px;
  height: 100%;
}.rep-img{
  display: block;
  width: 40%;
}
