* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*::selection{
  background-color: rgba(52, 179, 145, 0.378);
}
.App {
  text-align: center;
}
.cabecalho{
  width: 100%;
  display: flex;
}
.cabecalho::selection, .mcolor-ul-li-a::selection ,.mdcolor-ul-li-a::selection, .menu-below-700::selection, h2::selection, img::selection{
  background: none;
  pointer-events: none;
}.cabecalho, .mcolor-ul-li-a ,.mdcolor-ul-li-a, .menu-below-700, h2, img{
  cursor: default;
}
.menu-below-700 {
  padding: 15px;
}
.mdcolor-ul, .mdcolor-ul-close{ /*trocar por class*/
  max-width: 90%;
  display: inline;
  list-style: none;
}
.mdcolor-ul li a, .mdcolor-ul-close li a{ /*trocar por class*/
  font-size: 20px;
  transition: transform 200ms;
  transition: background .1s;
  padding: 15px 25px 15px 25px;
  display: block;
  text-decoration: none;
}
.mdcolor-ul li a:hover, .mdcolor-ul-close li a:hover { /*trocar por class*/
  transform: scale(1.05);
}
.button-light-dark, .button-light-dark-close{
  margin: 10px;
  margin-right: 15px;
}
.bcolor, .bdcolor {
  box-sizing:border-box;
  height: calc(100vh - 55px);
  display: block;
  font-size: calc(10px + 1.5vmin);
  overflow-y:scroll;
  scrollbar-width: none;
}
.bcolor::-webkit-scrollbar, .bdcolor::-webkit-scrollbar, html::-webkit-scrollbar{
  display: none;
}
.stats {
  padding: 10px;
}
.imgs {
  text-align: center;
  padding: 10px;
}
.imgs img{ /*trocar por class*/
  display: inline;
  padding: auto;
  text-align: center;
}
.menu-below-700:hover, .button-light-dark:hover, .button-light-dark-close:hover{
  cursor: pointer;  
}
.reps, .dreps{
  padding: 5px;
  border-radius: 0 0 5px 10px;
  margin-top: 5px;
}
.imgs-reps{
  text-align: center;
  padding: 15px;
  max-width: 100%;
  height: 800%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-around;
}
/*
Aba para animar um contador de tempo
.test{
  display: block;
  height: 1%;
  background: rgb(255, 255, 255);
  animation: test .5s;
  position: absolute;
  align-self: flex-end;
}@keyframes test{
  0% {
    width: 0%;
  }
  100%{
    width: 100%;
  }
} */


