:root{
    /* color dark */
    --dcolor-font-primary: rgb(255, 255, 255);
    --dcolor-background-primary: rgba(0, 0, 0, 0.80);
    --dcolor-font-secondary: rgb(255, 255, 255);
    --dcolor-background-secondary: rgb(39, 56, 73) ;
    --dcolor-font-menu: rgb(233, 233, 233);
    --dcolor-background-button: rgb(237, 224, 224);
    --dcolor-shadow-h2: rgba(255, 255, 255, 0.3);
    --dcolor-border-h2: rgba(255, 255, 255, 0.513);
}
/* Dark Color */
.dh2{
}
.cdcolor{
    background-color: var(--dcolor-background-primary);
}
.mdcolor-ul-li-a{ 
    color: var(--dcolor-font-secondary);
}
.mdcolor-ul-li-a:hover{ 
    background-color: var(--dcolor-background-secondary);
    color: var(--dcolor-font-menu);
}
.bdcolor{
    background-color: var(--dcolor-background-secondary);
    color: var(--dcolor-font-primary);
}
.mbdcolor:hover{
    background-color: var(--dcolor-background-button);
}
.App{
    background-color: var(--dcolor-background-secondary);
}