:root{
    --color-font-primary: rgb(255, 255, 255);
    --color-background-primary: rgb(202, 202, 202);
    --color-font-secondary: rgb(0, 0, 0);
    --color-background-secondary: rgb(21, 21, 21);
    --color-font-menu: rgb(233, 233, 233);
    --color-background-button: rgb(237, 224, 224);
    --color-shadow-h2: rgba(255, 255, 255, 0.3);
    --color-border-h2: rgba(255, 255, 255, 0.6);
}

/* Dark Color */
.cdcolor {
    background-color: var(--color-background-primary);
}
.mdcolor ul li a { /*trocar por class*/
    color: var(--color-font-secondary);
}
.mdcolor ul li a:hover { /*trocar por class*/
    background-color: var(--color-background-secondary);
    color: var(--color-font-menu);
}
.bdcolor {
    background-color: var(--color-background-secondary);
    color: var(--color-font-primary);
}
.mdbcolor:hover {
    background-color: var(--color-background-button);
}