
 .mcolor-ul-li-a, .mdcolor-ul-li-a {
    animation: menua 1s;
}
@keyframes menua {
    0%   {font-size:0px;}
}
@media(min-width: 2080px){
    html{
        max-width: 1800px;
        margin: auto;
        background-color:black; 
    }.cabecalho{
        max-width: 1800px;
    }.h2, .dh2{
        font-size: 50px;
    }
}
@media (min-width: 700px) {
    .rep-img{
        width: 40%;
        transition: transform 200ms;
        justify-content: space-around;
    }
    .h2, .dh2{ 
        text-align: left ;
        padding: 55px 0 5px 15px ;
        margin: 0 70% 0 3%;
        position: -webkit-sticky;
        top: 0;
        z-index: 1020;
        position: sticky;
        top: 0;
        font-size: 30px;
    }
    .h2::before, .dh2::before {
        position: relative;
        content: "";
        z-index: -1;
    }
    .menu-below-700{
        display: none;
    }
    .menu-below-700:active{
        background: none;
    }
    .cabecalho{
        max-height: 55px;
        min-height: 55px;
        width: 100%;
        position: relative;
        display: flex;
    }
    .imgs img{ /*trocar por class*/
        height: auto;
        width: 650px;
    }
    .rep-img{
        height: auto;
        width: 650px;
    }
    .mdcolor-ul li, .mdcolor-ul-close li{ /*trocar por class*/
        display: inline-block;
    }
    .menu{
        margin: auto;
    }    
}

  
  
/* display between width 1100 - 900  */
@media (max-width: 1100px) {
    .mdcolor-ul li a, .mdcolor-ul-close li a{ /*trocar por class*/
        font-size: 15px;
        padding: 17px 15px 17px 15px;

    }.cabecalho{
        height: 50px;
    }.stats{
        max-height: 300px;
    }
    .reps, .dreps{
        text-align: center;
        width: 45%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
    .rep-img{
        height: auto;
        width: 430px;
    }
    .input-field{
        width: 40vw;
    }
    
    
}
@media (max-width: 900px) {
    .mdcolor-ul li a, .mdcolor-ul-close li a,.mcolor-ul-li-a{ /*trocar por class*/
        padding: 17px 10px 17px 10px;
        font-size: 15px;
    }
    .cabecalho{
        height: 50px;
    }
    .mdcolor-ul { /*trocar por class*/
        max-width: 90%;
        display: inline;
        list-style: none;
      }
    .reps, .dreps{
        text-align: center;
        width: 100%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
    .rep-img{
        height: auto;
        width: 550px;
    }
}


/* mobile responsivity 700 */
@media (max-width: 700px) {
    .h2, .dh2{
        text-align: left;
        padding: 0 0 5px 15px;
        margin: 50px 10px 20px 10px;
        border-radius: 0 0 0 7px;
      }
    .rep-img{
        width: 360px;
        height: auto;
    }.stats{
        height: auto;
        width: 95%;
        float: center;
    }
    .imgs{
        padding: 0;
    }
    .stats1{
        width: 95%;
    }
    .stats2{
        width: 400px;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .menu-below-700 {
        padding: 10px;
    }
    .cabecalho::selection, .mcolor-ul-li-a::selection, .mdcolor-ul-li-a::selection{
      background: none;
    }
    .menu-below-700::selection{
      background: none;
    }
    .bcolor, .bdcolor {
        height: 100vh;
        display: block;
        font-size: calc(10px + 1vmin);
    }
    .cabecalho{
        position: fixed;
        width: auto;
        height: auto;
        float: left;
        justify-content: space-between;
    }  
    .button-light-dark{
        width: 30px;
        height: auto;
        margin: 7px;
        display: none;
    }
    /*animação*/
    .button-light-dark-close{
        width: 30px;
        height: auto;
        margin: 7px;
    }
    .cabecalho-close{
        width: 100%;
        height: auto;
    }
    .mdcolor-ul-close{
        display: none;
        list-style: none;
        max-width: 90%;
        
    }
    .mdcolor-ul{
        display: inline;
        max-width: 90%;
        display: inline;
        list-style: none;
    }
    
    .reps{
        text-align: center;
        float: center;
        width: 100%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
    .cabecalho-animation {
        animation: menu 0.5s;
    }
    .imgs-reps{
        flex-direction: column;
    }
    .mdcolor-ul li a, .mdcolor-ul-close li{
        text-align: left;
    }
    
    @keyframes menu {
        0%   {width: 0px; height: 0px;}
    }
    .input-field{
        width: 70vw;
    }
}
@media (max-width: 360px) {
    .rep-img{
        width: 320px;
        height: auto;
        padding: 0;
    }.stats2{
        width: 340px;
        height: auto;
        padding: 0;
    }
}