
 .mcolor-ul-li-a, .mdcolor-ul-li-a {
    animation: menua 1s;
}
@keyframes menua {
    0%   {font-size:0px;}
}
@media(min-width: 2080px){
    html{
        max-width: 1800px;
        margin: auto;
        background-color:black; 
    }.cabecalho{
        max-width: 1800px;
    }.h2, .dh2{
        font-size: 50px;
    }
}
@media (min-width: 700px) {
    .menu-below-700{
        display: none;
    }
    .menu-below-700:active{
        background: none;
    }
    .cabecalho{
        width: 100%;
        position: relative;
        display: flex;
    }
    .imgs img{ /*trocar por class*/
        height: 400px;
        width: 500px;
    }
    .rep-img{
        height: auto;
        width: 600px;
    }
   
    .mdcolor-ul li, .mdcolor-ul-close li{ /*trocar por class*/
        display: inline-block;
    }
    .menu{
        margin: auto;
    }
    
}

  
  
/* display between width 1100 - 900  */
@media (max-width: 1100px) {
    .mdcolor-ul li a, .mdcolor-ul-close li a{ /*trocar por class*/
        font-size: 15px;
        padding: 15px;
    }.cabecalho{
        height: 50px;
    }.stats{
        max-height: 300px;
    }
    .reps, .dreps{
        text-align: center;
        width: 45%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
    .rep-img, .rep-img-1{
        height: 150px;
        width: 400px;
    }
}
@media (max-width: 900px) {
    .mdcolor-ul li a, .mdcolor-ul-close li a,.mcolor-ul-li-a{ /*trocar por class*/
        padding: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 13px;
    }
    .cabecalho{
        height: 50px;
    }
    .mdcolor-ul { /*trocar por class*/
        max-width: 90%;
        display: inline;
        list-style: none;
      }
    .reps{
        text-align: center;
        width: 100%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
}
/* mobile responsivity 700 */
@media (max-width: 700px) {
    .rep-img{
        width: 360px;
        height: auto;

        float: center;
    }.stats{
        height: auto;
        width: 95%;
        float: center;
    }.stats1{
        width: 95%;
    }.stats2{
        width: 400px;
        height: autos;
    }
    .menu-below-700 {
        padding: 10px;
    }
    .cabecalho::selection, .mcolor-ul-li-a::selection, .mdcolor-ul-li-a::selection{
      background: none;
    }
    .menu-below-700::selection{
      background: none;
    }
    .bcolor, .bdcolor {
        height: 100vh;
        display: block;
        font-size: calc(10px + 1vmin);
        overflow-x: hidden;
    }
    .cabecalho{
        position: fixed;
        width: auto;
        height: auto;
        float: left;
        justify-content: space-between;
    }  
    .button-light-dark{
        width: 30px;
        height: auto;
        margin: 7px;
        display: none;
    }
    /*animação*/
    .button-light-dark-close{
        width: 30px;
        height: auto;
        margin: 7px;
    }
    .cabecalho-close{
        width: 100%;
        height: auto;
    }
    .mdcolor-ul-close{
        display: none;
        list-style: none;
        max-width: 90%;
        
    }
    .mdcolor-ul{
        display: inline;
        max-width: 90%;
        display: inline;
        list-style: none;
    }
    
    .reps{
        text-align: center;
        float: center;
        width: 100%;
    }
    .ref-reps{
        text-align: justify;
        float: center;
        width: 100%;
    }
    .cabecalho-animation {
        animation: menu 0.5s;
    }
    
    @keyframes menu {
        0%   {width: 0px; height: 0px;}
    }
}