*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-font-primary: rgb(0, 0, 0);
  --color-background-primary: rgb(0, 0, 0);
  --color-font-secondary: rgb(255, 255, 255);
  --color-background-secondary: rgb(255, 255, 255);
  --color-font-menu: rgb(49, 49, 49);
}
.App {
  text-align: left;
}
.cabecalho{
  display: flex;
  max-height: 10ch;
  background-color: var(--color-background-primary);
}
.menu ul{
  max-width: 90%;
  display: inline;
  list-style: none;
}
.menu ul ul{
  display: none;
  left: 0;
  position: absolute;
  min-width: 175px;
}
.menu ul li{
  display: inline;
  position: relative;
}
.menu ul li a{
  font-size: 20px;
  transition: transform 200ms;
  transition: background .2s;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-font-secondary);
}
.menu ul li a:hover{
  background-color: var(--color-background-secondary);
  color: var(--color-font-menu);
  transform: scale(1.02);
}
.body {
  display: block;
  box-sizing:border-box;
  background-color: rgb(255, 255, 255);
  max-height: 90vh;
  font-size: calc(10px + 2vmin);
  color: black;
  overflow-y: scroll;
  scrollbar-width: none;
}.body::-webkit-scrollbar {
  display: none;
}
.imgs{
  text-align: center;
  padding: 40px;
}
.imgs img{
  display:block;
  height: 15em;
  width: 15em;
  padding: 10px;
}
#stats{
  display:block;
  height: 15em;
  width: 25em;
  padding: 10px;
}